<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Personas</title>
    <script src="http://localhost:8080/livereload.js"></script>
</head>
<body>
    <h1 th:class="center">Lista de Personas</h1>
    <table th:border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person : ${personList}">
                <td th:text="${person.personID}"></td>
                <td th:text="${person.firstname}"></td>
                <td th:text="${person.lastname}"></td>
                <td th:text="${person.email}"></td>
                <td th:text="${person.city}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>